node_modules
yarn.lock

.env
dist

# Local Terraform directories
.terraform/
.terraform.tfstate
.terraform.tfstate.*

# Local localstack directories
localstack_providers_override.tf
docker/localstack/volume
